/* You can add global styles to this file, and also import other style files */

html, body {
    width: 100vw;
    padding: 0;
    margin: 0;
    align-items: center;
    background-color: rgb(155, 155, 155);
}
.grow img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;}
   
  .grow img:hover {
    opacity: .5;
}